h1 {
  font-size: 3em;
}

::placeholder {
  text-align: center;
  font-family: Rock Salt;
}
body {
  text-align: center;
  background-image: url(notepad.png);
  background-size: 100%;
  font-family: Rock Salt;
}
#toDoItem {
  font-size: 1.3em;
  text-align: left;
}

#toDoList {
  display: inline-block;
  text-align: center;
  list-style-type: disc;
}

#toDoInput {
  width: 450px;
  padding: 7px;
  margin: 6px;
  text-align: center;
  border-radius: 5px;
}

#addToDo {
  padding: 6px;
  width: 38px;
  border-radius: 5px;
}

#deleteButton {
  padding: 12px;
  width: 32px;
  border-radius: 5px;
}
